[submodule "libs/test-lib"]
	path = libs/test-lib
	url = https://github.com/jowillianto/test-lib
[submodule "libs/jowi-generic"]
	path = libs/jowi-generic
	url = https://github.com/jowillianto/jowi-generic
[submodule "libs/jowi-cli"]
	path = libs/jowi-cli
	url = github.com:jowillianto/jowi-cli
